<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title><%= title %></title>
  <link href="/output.css" rel="stylesheet">
</head>
<body >
  <nav class="mb-1.5 bg-red-900 text-white flex justify-center gap-2.5 ">
    <a href="/" class="hover:text-blue-700">Home</a>
    <a href="/host/rent-house"  class="hover:text-blue-700">Rent a House</a>
  </nav>