<%- include('../partials/header',{title:title}) %>

<div class="h-[93vh] w-full flex flex-col justify-center items-center">
        <p class="text-red-900 text-3xl font-extrabold">No Bookings Yet..</p>
        <a href="/"><button class="mt-2.5 bg-green-600 text-white px-2 py-1 text-2xl border-2 border-green-600 cursor-pointer hover:border-black hover:bg-transparent hover:text-black">Back To Home</button></a>
    </div>
<%- include('../partials/footer') %>    