<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title><%= title %></title>
  <link href="/output.css" rel="stylesheet">
</head>
<body >
  <nav class="h-[60px] mb-1.5 bg-red-900 text-white flex items-center gap-4.5 px-1">
    <a href="/" class="hover:text-blue-700 text-[1.7vw]">AirBnB</a>
    <a href="/homes" class="hover:text-blue-700 text-[1.7vw]">Homes</a>
    <a href="/bookings"  class="hover:text-blue-700 text-[1.7vw]">Bookings</a>
    <a href="/favourites"  class="hover:text-blue-700 text-[1.7vw]">Favourites</a>
    <a href="/host/homes"  class="hover:text-blue-700 text-[1.7vw]">Host-Home-List</a>
    <a href="/host/rent-house"  class="hover:text-blue-700 text-[1.7vw]">Rent Your House</a>
  </nav>